/* App.css */
body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

.table {
  width: 100%;
  margin: 20px 0;
  color: hsl(217, 35%, 46%);
  
}

button {
  padding: 10px 20px;
  background-color: hsl(219, 37%, 22%);
  color: hsl(60, 17%, 73%);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: hsl(352, 66%, 14%);
}

.table-bordered {
  th,
  td {
    border: 1px solid  !important;
  }
  
    
}
